{% extends 'layout.html.twig' %}
{% block intro %}

    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>Futur carrousel</h2>

        </header>
    </section>

    <!-- Intro -->
    <section id="intro" class="container">
        <div class="row">
            <div class="4u 12u(mobile)">
                <section class="first">

                    <header>
                        <h2>Top des musiques</h2>
                    </header>
                    <p>Sofiane - Loup garou </p><br>
                    <p>Sofiane - Bashaw </p><br>
                    <p>Sofiane - Lundi </p><br>
                    <p>Sofiane - Mon p'tit Loup</p><br>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="middle">


                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpunchradio43%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>


                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="last">
                    <header>
                        <h2>Top des musiques</h2>
                    </header>
                    <p>Sofiane - Loup garou </p><br>
                    <p>Sofiane - Bashaw </p><br>
                    <p>Sofiane - Lundi </p><br>
                    <p>Sofiane - Mon p'tit Loup</p><br>
                </section>
            </div>
        </div>

    </section>

{% endblock %}
