{% extends 'layout.html.twig' %}
{% block contenu %}
<div class="container">
    <div class="row d-flex justify-content-center">
    {% for article in articles %}



                    <div class="card">

                    <img class="card-img-top "  style="width: 18rem;" src="{{ asset('../uploads/images/articles/' ~article.image) }}" >
                    <div class="card-body">
                        <h5 class="card-title"> {{ article.author }}</h5>
                        <small class="text-muted">      {% if article.date %}{{ article.date|date('Y-m-d ') }}{% endif %}</small><br>
                        <a href="{{ path('article_show', { 'id': article.id }) }}" class="btn btn-outline-danger">Lire l'article</a>

                    </div>

                </div>


    {% endfor %}



</div>
</div>
{% endblock %}